{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>설문 항목</title>
    <link rel="stylesheet" href="{% static 'poll/style.css' %}">
</head>
<body>
<!--
    <h2>{{ question.question_text }}</h2>
    <ul>
        {% for choice in question.choice_set.all %}
        <li>{{ choice.choice_text }}</li>
        {% endfor %}
    </ul>
-->
    <div id="container">
        <section>
            <form action="{% url 'poll:vote' question.id %}" method="post">
                {% csrf_token %}  <!-- 필수 입력(보안) -->
                <fieldset>
                    <legend>{{ question.question_text }}</legend>
                    {% if error %}
                        <p class="error">{{ error }}</p>
                    {% endif %}
                    {% for choice in question.choice_set.all %}
                    <p>
                        <input type="radio" name="choice" value="{{ choice.id }}">
                        <label>{{ choice.choice_text }}</label>
                    </p>
                    {% endfor %}
                </fieldset>
                <p><input type="submit" value="투표"></p>
            </form>
        </section>
    </div>
</body>
</html>