{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>main 페이지</title>
    <link rel="stylesheet" href="{% static 'poll/style.css' %}">
</head>
<body>
    <div id="container">
        <section>
            <h1>메인 페이지</h1>
            <ul>
                <li>127.0.0.1:8000/control/main 요청 -> 메인 페이지</li>
                <li>127.0.0.1:8000/control/cart 요청 -> 장바구니 페이지</li>
                <li>127.0.0.1:8000/control/count 요청 -> 반복 인덱스 페이지</li>
            </ul>
        </section>
    </div>
</body>
</html>