{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>회원 가입</title>
    <link rel="stylesheet" href="{% static 'poll/style.css' %}">
</head>
<body>
    <div id="container">
        <section>
            <h1>회원 가입</h1>
            <form action="" method="post">
                {% csrf_token %}
                <p>
                    <label for="userid">아이디</label>
                    <input type="text" id="userid" name="userid">
                </p>
                <p>
                    <label for="email">이메일</label>
                    <input type="text" id="email" name="email">
                </p>
                <p><input type="submit" value="가입"></p>
            </form>
        </section>
    </div>
</body>
</html>